<div id="systDataBody">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/dashboard">{{hosp}}</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/dashboard">Registar</a></li>
                <li class="active" ng-if="superUser === 'Y'"><a href="#/systManager">Settings</a></li>                
                <li ng-if="superUser === 'Y'"><a href="#/systData">Data</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">{{name}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li><a href="#/logout">Logout</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </nav>
        <div class="container" id="editData">
            <div class="col-sm-12">
                <span ng-if="which === 1">
                    <h2>{{title}}</h2>
                    <form name="patientForm" ng-submit="updatePatientForm(patientForm.$valid, pat)" novalidate>
                            <div class="row">
                                <div class="col-sm-12" >
                                    <h4>Bio Data</h4>
                                    <hr>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.fName.$invalid && !patientForm.fName.$pristine }">
                                        <label>Firstname</label>
                                        <input type="text" name="fName" class="form-control" ng-value="fName" ng-model="pat.fname" required>
                                        <p ng-show="patientForm.fName.$invalid" class="help-block">Your firstname is required.</p>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.sName.$invalid && !patientForm.sName.$pristine }">
                                        <label>Surname</label>
                                        <input type="text" name="sName" class="form-control" ng-value="sName" ng-model="pat.sname" required>
                                        <p ng-show="patientForm.sName.$invalid && !patientForm.sName.$pristine" class="help-block">Your surname is required.</p>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Othername</label>
                                        <input type="text" name="oName" class="form-control" ng-model="oName">
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.phone.$invalid && !patientForm.phone.$pristine }">
                                        <label>Phone number</label>
                                        <input type="text" name="phone" class="form-control" ng-model="phone" ng-minlength="11" ng-maxlength="11">
                                        <!--<p ng-show="patientForm.phone.$invalid && !patientForm.phone.$pristine" class="help-block">Your phone number is required.</p>-->
                                        <p ng-show="patientForm.phone.$error.minlength" class="help-block">Phone number is too short.</p>
                                        <p ng-show="patientForm.phone.$error.maxlength" class="help-block">Phone number is too long.</p>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.dob.$invalid && !patientForm.dob.$pristine }">
                                        <label>Date of Birth</label>
                                        <input type="date" name="dob" class="form-control" ng-model="dob" required>
                                        <p style="color: red" ng-show="patientForm.dob.$pristine" class="help-block">Patient date of birth is required.</p>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.add.$invalid && !patientForm.add.$pristine }">
                                        <label>Address</label>
                                        <input type="text" name="add" class="form-control" ng-model="add" required>
                                        <p ng-show="patientForm.add.$invalid && !patientForm.add.$pristine" class="help-block">Your address is required.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.stateR.$invalid && !patientForm.stateR.$pristine }">
                                        <label>State of Residence</label>
                                        <select name="religion" name="stateR" class="form-control" ng-model="Rstate" required>
                                            <option value="-">-</option>
                                            <option ng-repeat="state in states" ng-value="state.id">
                                                {{state.state}}
                                            </option>
                                        </select>
                                        <p ng-show="patientForm.stateR.$invalid && !patientForm.stateR.$pristine" class="help-block">Please select a state of residence.</p>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Occupation</label>
                                        <input type="text" name="occupation" class="form-control" ng-model="occupation">                                    
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : patientForm.state.$invalid && !patientForm.state.$pristine }">
                                        <label>State of origin</label>
                                        <select name="religion" name="state" class="form-control" ng-model="state" required>
                                            <option value="-">-</option>
                                            <option ng-repeat="state in states" ng-value="state.id">
                                                {{state.state}}
                                            </option>
                                        </select>
                                        <p ng-show="patientForm.state.$invalid && !patientForm.state.$pristine" class="help-block">Please select a state of origin.</p>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Religion</label>
                                        <select name="religion" class="form-control" ng-model="religion">
                                            <option value="-">-</option>
                                            <option ng-repeat="rel in religions" ng-value="rel.id">
                                                    {{rel.religion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ethnic Group</label>
                                        <select name="ethnic" class="form-control" ng-model="ethnic">
                                            <option value="-">-</option>
                                            <option ng-repeat="ethnic in ethnics" ng-value="ethnic.id">
                                                {{ethnic.ethnic}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4>Next of Kin</h4>
                                    <hr>
                                </div>                                
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : patientForm.nokFname.$invalid && !patientForm.nokFname.$pristine }">
                                            <label>Next of Kin Firstname</label>
                                            <input type="text" name="nokFname" class="form-control" ng-model="nokFname" required>
                                            <p ng-show="patientForm.nokFname.$invalid && !patientForm.nokFname.$pristine" class="help-block">Your next of kin firstname is required.</p>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : patientForm.nokSname.$invalid && !patientForm.nokSname.$pristine }">
                                            <label>Next of Kin Surname</label>
                                            <input type="text" name="nokSname" class="form-control" ng-model="nokSname" required>
                                            <p ng-show="patientForm.nokSname.$invalid && !patientForm.nokSname.$pristine" class="help-block">Your next of kin surname is required.</p>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Next of Kin Othername</label>
                                            <input type="text" name="nokOname" class="form-control" ng-model="nokOname">
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : patientForm.nokPhone.$invalid && !patientForm.nokPhone.$pristine }">
                                            <label>Next of Kin Phone number</label>
                                            <input type="text" name="nokPhone" class="form-control" ng-model="nokPhone" ng-minlength="11" ng-maxlength="11">
                                            <p ng-show="userForm.nokPhone.$error.minlength" class="help-block">Phone Number is too short.</p>
                                            <p ng-show="userForm.nokPhone.$error.maxlength" class="help-block">Phone Number is too long.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : patientForm.nokAdd.$invalid && !patientForm.nokAdd.$pristine }">
                                                <label>Next of Kin Address</label>
                                                <input type="text" name="nokAdd" class="form-control" ng-model="nokAdd" required>
                                                <p ng-show="patientForm.nokAdd.$invalid && !patientForm.nokAdd.$pristine" class="help-block">Your next of kin address is required.</p>
                                            </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : patientForm.nokState.$invalid && !patientForm.nokState.$pristine }">
                                            <label>Next of Kin State of Residence</label>
                                            <select name="religion" name="nokState" class="form-control" ng-model="nokState" required>
                                                <option value="-">-</option>
                                                <option ng-repeat="state in states" ng-value="state.id">
                                                        {{state.state}}
                                                </option>
                                            </select>
                                            <p ng-show="patientForm.nokState.$invalid && !patientForm.nokState.$pristine" class="help-block">Please select a state for Next of Kin.</p>
                                        </div>
                                    </div>
                                <div class="col-sm-12">
                                    <h4>Health</h4>
                                    <hr>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Blood Group</label>
                                        <select name="bloodG" class="form-control" ng-model="bloodG">
                                            <option value="-">-</option>
                                            <option ng-repeat="bloodG in bloodGroups" ng-value="bloodG.id">
                                                {{bloodG.bloodGroup}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Genotype</label>
                                        <select name="geno" class="form-control" ng-model="geno">
                                            <option value="-">-</option>
                                            <option ng-repeat="type in genotypes" ng-value="type.id">
                                                {{type.genotype}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" ng-disabled="patientForm.$invalid">Edit</button>
                                    </div>
                                </div>
                                
                            </div>                        
                        </form>
                </span>
            </div>
        </div>
</div>