<div id="homeUiBgrd">
    <div id="homeLogin">
        <div id="welcome">
            <h1>FUTO Medicals</h1>
    
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit augue sed leo blandit 
                    semper. Quisque vitae pellentesque orci, eu feugiat ligula. Aenean ut nibh urna. Fusce tristique,
                     quam vel tempor consectetur, lorem enim mattis magna, id laoreet nibh ipsum eget dui. Mauris 
                     ultricies, tellus in feugiat commodo, nulla odio commodo mi, eget venenatis tellus purus sit amet 
                     arcu. Ut id tincidunt purus. Aenean volutpat magna tempor, imperdiet ante vitae, facilisis nunc. 
                     Ut elementum nunc id hendrerit aliquet. Nulla volutpat nunc at neque vulputate, et iaculis mi 
                     consequat. Aenean in elit vitae tortor pretium ultrices.
            </p>
        </div>
        <div id="login">
            <h2 class="centre">Staff Login</h2>
            <form>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Enter Login Code" ng-model="loginCode">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>